.list-item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  margin: 1rem 0;
  font-size: 17.5px;
}

.list-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.list-item-actions {
  display: flex;
  position: relative;
}

.edit-link {
  height: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border: none;
  background-color: var(--color-light-blue);
  color: #fff;
  cursor: pointer;
}

.edit-link:hover {
  background-color: var(--color-light-blue-hover);
}

.edit-link i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-actions .button {
  height: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border: none;
  background-color: var(--color-danger);
  color: #fff;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.list-item-actions .button:hover {
  background-color: var(--color-danger-hover);
}

input[type="checkbox"] {
  margin: auto 0.9rem;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
