.controls {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 0.5rem 0;
}

.controls .label {
  position: absolute;
  top: 23px;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: auto;
  transition: 0.3s;
  left: 12px;
}

.controls .input {
  border: none;
  outline: none;
  padding: 1.8rem 0.75rem 0.8rem;
  font-size: 18px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.controls .input:focus,
.controls .input:checked {
  background-color: #ced4da;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.controls .input:focus ~ .label,
.label-transform {
  top: -0.0000001rem !important;
  font-size: 14px !important;
}
